body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  /* Remove any default borders */
  background-color: #6b0000;
  box-sizing: border-box;
}

header div {
  text-align: center;
  font-size: xx-large;
  font-family: Gill Sans, sans-serif;
}

header footer {
  text-align: center;
  font-size: large;
  font-family: Gill Sans, sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  background-color: #87a9ba;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  /* Remove any default borders */
  background-color: #6b0000;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

p.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}

p {
  font-size: 18px;
}

.section-header {
  text-align: center;
  font-size: large;
  font-family: Gill Sans, sans-serif;
}

.container {
  font-size: 5em;
  background-color: #a8a8a8;
  color: white;
  width: 5em;
  height: 1em;
  line-height: 2;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.link {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  z-index: 1;
}

a:link {
  color: #0610a2;
}

/* visited link */
a:visited {
  color: #642ce8;
}

/* mouse over link */
a:hover {
  color: #04b49f;
}

/* selected link */
a:active {
  color: #4b0101;
}